.footer-bg2 h4,.footer-bg2 p {
    color: #fff;
}
.footer-bg2{
    color: #fff;
    ul {
        text-align: left;
        padding: 0px;
        color: #fff;
        li{
            color: #fff;
        }
    }
}
.col-md-3.social-icon li {
    display: initial;
    margin: 5px;
}
.col-md-3.social-icon li a {
     color: #fff;

    i.fa.fa {
        font-size: 28px !important;
    }
 }