:root {
  --font: "soleil", sans-serif;

  --theme-color-p: #1d3359;
  --theme-color-s: #5d95cf;
  --theme-color-r: #fb3c3c;

  --bg-gray: #eee;
  --bg-light-r: #e6d3d3;
  --bg-light-b: #dedede; 
  --bg-light-b1: #d7dff0; 
  --bg-light-b2: #dbe9f0; 
  --bg-light-b3: #d7dde1 ; 
}