body #region-main {
  overflow: visible !important;
}

body#page-login-signup {
  background: #efefef;
  background-image: url(http://localhost/amigo/Amity_schools/theme/image.php/moove/theme/1587376050/login_bg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  header, footer {
    display: none !important;
  }
  #page.container-fluid {
    padding: 1rem;
  }
}

.amigo-custom-account {

  .amigo-card-block {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.12);
  }

  form.mform {
    display: flex;
    flex-wrap: wrap;

    .form-group {
      margin-left: 0;
      margin-right: 0;
      position: relative;
      margin-bottom: 15px;
      /*
       -webkit-box-flex: 0;
       -ms-flex: 0 0 100%;
       flex: 100%;
       max-width: 100%;
             @media (min-width:992px) {
               -ms-flex: 0 0 50%;
               flex: 50%;
               max-width: 50%;
             }*/

      [class*='col-md-'] {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 100%;
        max-width: 100%;
        padding: 0px;
        .float-sm-right, .d-inline {
          display: none !important;
        }
      }
      .form-control {
        width: 100%;
        border: 2px solid #ced4da;
        border-radius: 0px;
        &.is-invalid {
          border-color: #fb3c3c;
        }
      }
      .form-control-feedback {
        position: absolute;
        top: -22px;
      }
      &#fgroup_id_buttonar {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 100%;
        max-width: 100%;
        padding:10px 0px;
        .form-inline {
          justify-content: center;
        }
        .form-group {
          display: inline-block;
          -webkit-box-flex: unset;
          -ms-flex: unset;
          flex: unset;
          max-width: unset;

          .btn-primary {
            border-radius: 100px !important;
            padding: .5rem 1.5rem;
            font-size: 1.25rem;
            line-height: 1.5;
          }
        }
      }
    }
  }
}

#fitem_id_urldomain {
  .col-md-3 {
    display: none !important;
  }
  .col-md-9 {
    position: relative;
    border: 2px solid #ced4da;
    left: -2px;
    padding-left: 10px;
    @media(min-width: 992px) {
      .form-control-static {
        position: absolute;
        left: 10px;
      }
    }
  }
}

.plugins_standard_footer_html, .fdescription, .btn-cancel {
  display: none !important;
}

.amigo-custom-account {
  .amigo-custom-form-group {
    display: flex;
    flex-wrap: wrap;
    .form-group {
      margin-left: 0;
      margin-right: 0;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 100%;
      max-width: 100%;
      position: relative;
      margin-bottom: 30px !important;
      &:not(:first-child) {
        -ms-flex: 0 0 50%;
        flex: 50%;
        max-width: 50%;
        margin-bottom: 10px;
      }
    }
  }
}


#fitem_id_password #id_error_password{
  height: 14px;
  overflow: hidden;
  &>div{
    white-space: nowrap;
  }
}