.profile-row {
    .img-round {
        width: 80px;
        height: 80px;
        overflow: hidden;
        border-radius: 50px;
        display: inline-block;
    }

    img {
        width: 100%;
    }
}

.small-1 {
    font-size: calc(100% - 2px);
}


.upload-profile {
    position: relative;

    input[type="file"] {
        position: absolute;
        z-index: 0;
        opacity: 0;
        width: 0px;
        height: 0px;
    }
}


.form-control.form-sm {
    height: 34px;
    font-size: 12px;
}


.status-bar-list {
    li {
        a {
            position: relative;
            padding: 5px 10px 5px 30px;
            display: block;

            &:before {
                content: "";
                position: absolute;
                left: 0px;
                width: 20px;
                height: 20px;
                border-radius: 50px;
                top: 8px;
                border: 1px solid #28a745;
                background: #28a745;
            }

            &.pendding-task:before {
                border: 1px solid #ff1212;
                background: #ff1212;
            }

            &:after {
                color: #fff;
                content: "✔";
                position: absolute;
                left: 5px;
                top: 6px;
                font-size: 15px;
            }

            &.pendding-task:after {
                content: "✘";
            }
        }
    }
}



/* Ui Tabs */

.ui-tabs {
    ul.nav-pills {
        padding: 8px;
        border-radius: 50px;
        background: #fff;
        box-shadow: 0px 0px 20px #d7d7d7;

        li a.nav-link {
            border-radius: 50px;
        }
    }
}

.row-2-ls {
    min-height: 80px;
    background-color: #fff;
    transition: all 0.3s ease;
    box-shadow: 0px 4px 8px rgba(119, 119, 119, 0.18);


    @media(min-width:992px) {
        min-height: 80px;
    }

    &>*:first-child {
        display: block;
        width: 100%;
        font-size: calc(1rem + 0.8vw);
        margin-bottom: 20px;
        margin-top: 5px;
        line-height: inherit;

        @media(min-width: 1600px) {
            font-size: 30px;
        }
    }

    &>*:last-child {
        display: block;
        width: 100%;
        font-size: calc(1rem - 0.2vw);
        line-height: 20px;

        @media(min-width: 992px) {
            font-size: calc(0.8rem + 0.1vw);
        }
    }

    &:hover {
        box-shadow: 0px 10px 30px rgba(119, 119, 119, 0.18);
    }
}


.bg-style-1 {
    background-image: url('../../images/bg-1.png');
    background-size: cover;
    background-position-x: 130%;
    background-repeat: no-repeat;
    background-size: 400px;

    @media(min-width:992px) {
        background-size: 50%;
    }
}

.bg-shapes-style {
    position: relative;
    overflow: hidden;

    &:before {
        content: '';
        height: 100%;
        width: 360%;
        position: absolute;
        background-color: #ebf1f6;
        transform: rotate(320deg);
        right: -77%;
        top: 30%; 
        
        @media(min-width:992px) {
            width: 150%;
            height: 150%;
            transform: rotate(300deg);
            right: -50%;
            top: 30%;
        }

    }
}



.img-style-suffal {
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: 620px;

    @media(min-width:992px) {
        padding-top: 100px;
        padding-bottom: 100px;
        min-height: 700px;
    }


    .app-tab {

        position: relative;
        width: 200px;
        left: 100px;
        top: 0px;

        @media(min-width:992px) {
            position: absolute;
            width: 400px;
            right: 10%;
            top: -60px;
            left: unset;
        }

        img {
            width: 100%;
        }
    }

    .app-mobile {
        position: absolute;
        width: 100px;
        top: 64px;
        left: 34px;

        @media(min-width:992px) {
            width: 200px;
            left: 100px;
            top: 70px;
        }

        img {
            width: 100%;
        }
    }

}


.modal .close{
    color: red !important;
    font-size: 3rem;
    opacity: 1;
    text-shadow: none;
    position: absolute;
    z-index: 9;
    right:20px;
    top: 20px;
    border: 2px solid #fae9e9;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background: #fae9e9;
    font-size: 22px;
}
.modal-backdrop.show {
    opacity: .7 !important;
}
/* 
.modal-open header, .modal-open section, .modal-open main, .modal-open footer {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
} */