{{!
    @template core/signup_form_layout

    Example context (json):
    {
        "logourl": "https://moodle.org/logo/moodle-logo.svg",
        "sitename": "Site name",
        "formhtml": "<p>(Form html would go here)</p>"
    }
}}
<section class="amigo-custom-account pb-5">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center mb-4">
                <img src="{{{ config.wwwroot }}}/amigo/assets/images/amigo-logo.png" alt="Amigo Logo" width="200px">

            </div>
            <div class="col-12 col-lg-6 offset-lg-3 px-0 px-lg-3">
                <div class="amigo-card-block p-lg-4 p-3">
                    <div class="card-titletext-xs-center">
                        {{#logourl}}
                            <h2><img src="{{logourl}}" title="{{sitename}}" alt="{{sitename}}"/></h2>
                        {{/logourl}}
                        {{^logourl}}
                            <h2>{{! sitename}}</h2>
                        {{/logourl}}
                        <!hr>
                    </div>
                    <div class="card-title p-3 text-center">
                         <h3 class="heading-text font-weight-bolder">{{#str}}newaccount{{/str}}</h3>
                    </div>
                    {{{formhtml}}}
                    <div class="w-100 mb-3 d-flex justify-content-center">
                        <a href="{{{ config.wwwroot }}}/login/index.php" class="font-600">
                            <span class="text-muted small">Already have an account ?</span>
                            <span class="text-primary"> Login</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
