{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_moove/login

    Login page template

    Example context (json):
    {
        "output": {
            "doctype": "<!DOCTYPE html>",
            "page_title": "Login page",
            "favicon": "favicon.ico",
            "main_content": "<h1>Headers keep HTML validators happy</h1>"
        }
    }
}}

{{{ output.doctype }}}
<html {{{ output.htmlattributes }}}>

<head>
    <title>{{{ output.page_title }}}</title>
    <link rel="shortcut icon" href="{{{ output.favicon }}}" />
    {{{ output.standard_head_html }}} 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">

    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="amigo/vendors/bootstrap/dist/css/bootstrap.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{{ config.wwwroot }}}/amigo/assets/dist/css/app.css">

    <link rel="stylesheet" href="{{{ config.wwwroot }}}/amigo/assets/dist/css/header-bootstrap.min.css">

    <link rel="stylesheet" href="{{{ config.wwwroot }}}/amigo/assets/dist/css/header-slicknav.css">

    <link rel="stylesheet" href="{{{ config.wwwroot }}}/amigo/assets/dist/css/header-style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        div#sticky-header {
            background: #fff;
            height: 78px;
        }
        .logo {
            /* border: 1px solid; */
            margin-left: 98%;
        }
        .footer-bg2 li {
            display: block;
        }
        .Appointment {
            display: inherit;
        }

        .header_right.d-flex.align-items-center {
            width: 20%;
        }

        @media screen and (min-device-width: 320px) and (max-device-width: 480px){
            .logo {
                /* border: 1px solid; */
                margin-left: 0% !important;
            }

            img.logo-brand {
                width: 90px !important;
                margin-top: 15%;
            }

            .header_right.d-flex.align-items-center {
                width: 55%;
            }
        }/*Media 320 end here*/
    </style>
</head>

<body {{{ bodyattributes }}}>
<header class="header-bar bg-white shadow-sm">
    <nav class="navbar navbar-expand-lg navbar-light container">

        <a class="navbar-brand" href="index.php">
            <img src="{{{ config.wwwroot }}}/amigo/assets/images/logo.jpg" alt="amigo" height="50px">
        </a>

        <!--Navigation Menu -->
        <ul class="list-unstyled ml-auto d-flex mb-0">
            <li class="nav-item mr-lg-3">
                <a class="nav-link" href="login/index.php">
                    Login
                </a>
            </li>
            <li class="nav-item">
                <a class="btn btn-danger px-4" href="login/signup.php">Sign up</a>
            </li>
        </ul>

    </nav>
</header>
<div id="page-wrapper">

    {{{ output.standard_top_of_body_html }}}

    <div id="page" class="container-fluid mt-0">
        <div id="page-content" class="row">

            <div id="region-main-box" class="col-12">
                <section id="region-main" class="col-12">
                   {{{ output.course_content_header }}}
                    {{{ output.main_content }}}
                    {{{ output.course_content_footer }}}
                </section>
            </div>


        </div>
    </div>
</div>


<footer class="bg-primary py-5 footer-bg2">
    <div class="container">
        <div class="row">

            <div class="col-md-3">
                <h4>Product</h4>
                <ul>
                    <li>Amigo-LMS</li>
                    <li>Amity online</li>
                    <li>Amity School</li>
                    <li>Amity Future Academy</li>
                </ul>
            </div>

            <div class="col-md-3">
                <h4>Other Links</h4>
                <ul>
                    <li>About </li>
                    <li>Terms of Use</li>
                    <li>Privacy Policy</li>

                </ul>
            </div>



            <div class="col-md-3 social-icon">
                <h4>Stay in Touch</h4>
                <ul>
                    <li><a href="https://www.facebook.com/"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>  </li>
                    <li><a href="https://twitter.com/login"> <i class="fa fa-twitter-square" aria-hidden="true"></i></a> </li>
                    <li><a href="https://www.linkedin.com/login"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.youtube.com/"><i class="fa fa-youtube-square" aria-hidden="true"></i></a></li>
                </ul>
            </div>

            <div class="col-md-3">
                <h4>Contact Us</h4>
                <p>phone no :7428001444 </p>
                <p>Email id :info@gmail.com </p>

            </div>


        </div>

        <!--<div class="row">
            <div class="col-12 text-white text-center">
                <p>For Technical Support - 7428001444 (Monday to Friday 9 AM - 6 PM).</p>
                <ul class="list-unstyled mb-0 d-inline-flex flex-wrap mb-3">
                    <li><a href="#!" class="px-3 text-light">Terms of Use</a></li>
                    <li><a href="#!" class="px-3 text-light">Privacy Policy</a></li>
                    <li><a href="#!" class="px-3 text-light">Contact us</a></li>
                </ul>
            </div>
            <div class="col-12 text-muted text-center small">
                <hr>
                2020 Amity Online. All rights reserved.
            </div>
        </div>-->
    </div>
</footer>



{{{ output.standard_footer_html }}}

{{{ output.standard_end_of_body_html }}}


<script src="amigo/assets/dist/js/bootstrap.min.js"></script>
	<script src="amigo/assets/dist/js/jquery-1.12.4.min.js"></script>
	<script src="amigo/assets/dist/js/jquery.slicknav.min.js"></script>
	<script src="amigo/assets/dist/js/main.js"></script>
{{#js}}
    require(['theme_boost/loader']);
{{/js}}
</body>
</html>
