{{# usefooterwidget }}
<div class="footer-widget">
	{{# footerwidgettitle }}
	<h4 class="footer-widget-title">{{{ footerwidgettitle }}}</h4>
	{{/ footerwidgettitle }}
	{{# footerwidgetcontent }}
	<div class="footer-widget-content">
	     {{{ footerwidgetcontent }}}
	</div><!--//footer-widget-content-->
	{{/ footerwidgetcontent }}
</div><!--//footer-widget-->
{{/ usefooterwidget }}