{{#usefaq}}

<!-- ******FAQ****** --> 
<div class="faq-section">
	{{#faqsectiontitle}}
    <h2 class="section-title text-center">{{{faqsectiontitle}}}</h2>
    {{/faqsectiontitle}}
    <div id="faq-accordion" class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-6">                    
                
                {{#faq1title}}
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title"><a data-toggle="collapse" data-target="#faq1" class="card-toggle collapsed" href="#faq1" aria-expanded="false" aria-controls="faq1"><i class="fa fa-plus-square" aria-hidden="true"></i>{{{faq1title}}}</a></h4>
                    </div>
        
                    <div class="card-collapse collapse" id="faq1">
                        <div class="card-body">
	                        {{#faq1content}}
	                        
	                        {{{faq1content}}}
                            
                            {{/faq1content}}
                        </div>
                    </div>
                </div><!--//card-->
                {{/faq1title}}
                
                {{#faq3title}}
				<div class="card">
				    <div class="card-header">
				        <h4 class="card-title"><a  data-toggle="collapse" data-target="#faq3" class="card-toggle collapsed" href="#faq3" aria-expanded="false" aria-controls="faq3"><i class="fa fa-plus-square" aria-hidden="true"></i>{{{faq3title}}}</a></h4>
				    </div>
				
				    <div class="card-collapse collapse" id="faq3">
				        <div class="card-body">
				            {{#faq3content}}
				            
				            {{{faq3content}}}
				            
				            {{/faq3content}}
				        </div>
				    </div>
				</div><!--//card-->
				{{/faq3title}} 
				
				{{#faq5title}}
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title"><a data-toggle="collapse" data-target="#faq5" class="card-toggle collapsed" href="#faq5" aria-expanded="false" aria-controls="faq5"><i class="fa fa-plus-square" aria-hidden="true"></i>{{{faq5title}}}</a></h4>
                    </div>
        
                    <div class="card-collapse collapse" id="faq5">
                        <div class="card-body">
	                        {{#faq5content}}
	                        
	                        {{{faq5content}}}
                            
                            {{/faq5content}}
                        </div>
                    </div>
                </div><!--//card-->
                {{/faq5title}}
                
                {{#faq7title}}
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title"><a data-toggle="collapse" data-target="#faq7" class="card-toggle collapsed" href="#faq7" aria-expanded="false" aria-controls="faq7"><i class="fa fa-plus-square" aria-hidden="true"></i>{{{faq7title}}}</a></h4>
                    </div>
        
                    <div class="card-collapse collapse" id="faq7">
                        <div class="card-body">
	                        {{#faq7content}}
	                        
	                        {{{faq7content}}}
                            
                            {{/faq7content}}
                        </div>
                    </div>
                </div><!--//card-->
                {{/faq7title}}
                
                {{#faq9title}}
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title"><a data-toggle="collapse" data-target="#faq9" class="card-toggle collapsed" href="#faq9" aria-expanded="false" aria-controls="faq9"><i class="fa fa-plus-square" aria-hidden="true"></i>{{{faq9title}}}</a></h4>
                    </div>
        
                    <div class="card-collapse collapse" id="faq9">
                        <div class="card-body">
	                        {{#faq9content}}
	                        
	                        {{{faq9content}}}
                            
                            {{/faq9content}}
                        </div>
                    </div>
                </div><!--//card-->
                {{/faq9title}}
        
               
            </div>
            <div class="col-12 col-lg-6">
	            
                {{#faq2title}}
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title"><a data-toggle="collapse" data-target="#faq2" class="card-toggle collapsed" href="#faq2" aria-expanded="false" aria-controls="faq2"><i class="fa fa-plus-square" aria-hidden="true"></i>{{{faq2title}}}</a></h4>
                    </div>
        
                    <div class="card-collapse collapse" id="faq2">
                        <div class="card-body">
	                        {{#faq2content}}
	                        
	                        {{{faq2content}}}
                            
                            {{/faq2content}}
                        </div>
                    </div>
                </div><!--//card-->
                {{/faq2title}}
                
                {{#faq4title}}
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title"><a data-toggle="collapse" data-target="#faq4" class="card-toggle collapsed" href="#faq4" aria-expanded="false" aria-controls="faq4"><i class="fa fa-plus-square" aria-hidden="true"></i>{{{faq4title}}}</a></h4>
                    </div>
        
                    <div class="card-collapse collapse" id="faq4">
                        <div class="card-body">
	                        {{#faq4content}}
	                        
	                        {{{faq4content}}}
                            
                            {{/faq4content}}
                        </div>
                    </div>
                </div><!--//card-->
                {{/faq4title}}
                
                {{#faq6title}}
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title"><a data-toggle="collapse" data-target="#faq6" class="card-toggle collapsed" href="#faq6" aria-expanded="false" aria-controls="faq6"><i class="fa fa-plus-square" aria-hidden="true"></i>{{{faq6title}}}</a></h4>
                    </div>
        
                    <div class="card-collapse collapse" id="faq6">
                        <div class="card-body">
	                        {{#faq6content}}
	                        
	                        {{{faq6content}}}
                            
                            {{/faq6content}}
                        </div>
                    </div>
                </div><!--//card-->
                {{/faq6title}}
                
                {{#faq8title}}
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title"><a data-toggle="collapse" data-target="#faq8" class="card-toggle collapsed" href="#faq8" aria-expanded="false" aria-controls="faq8"><i class="fa fa-plus-square" aria-hidden="true"></i>{{{faq8title}}}</a></h4>
                    </div>
        
                    <div class="card-collapse collapse" id="faq8">
                        <div class="card-body">
	                        {{#faq8content}}
	                        
	                        {{{faq8content}}}
                            
                            {{/faq8content}}
                        </div>
                    </div>
                </div><!--//card-->
                {{/faq8title}}
                
                {{#faq10title}}
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title"><a data-toggle="collapse" data-target="#faq10" class="card-toggle collapsed" href="#faq10" aria-expanded="false" aria-controls="faq10"><i class="fa fa-plus-square" aria-hidden="true"></i>{{{faq10title}}}</a></h4>
                    </div>
        
                    <div class="card-collapse collapse" id="faq10">
                        <div class="card-body">
	                        {{#faq10content}}
	                        
	                        {{{faq10content}}}
                            
                            {{/faq10content}}
                        </div>
                    </div>
                </div><!--//card-->
                {{/faq10title}}
                
                
            </div>
        </div><!--//row-->
        
        {{#hasfaqcta}}
        <div class="more text-center">
            <a class="btn btn-cta theme-btn-primary" href="{{{faqurl}}}" {{#urlopennew}}target="_blank"{{/urlopennew}}>{{{faqbutton}}}</a>
        </div>
        {{/hasfaqcta}}
    </div><!--//container-->        
</div><!--//faq-section-->
    

{{/usefaq}}