{{#hassearch}}
<div class="search-courses-section">
    <div class="container-fluid">
	    <div class="form-wrapper">
	        <form class="form-inline search-form" action="{{{ config.wwwroot }}}/course/search.php" method="get">
	            
	            <input type="text" placeholder="{{#str}} searchcourses {{/str}}" name="search" class="form-control search-input">
	            
	            <button type="submit" class="btn search-btn" value="Search"><i class="fa fa-search"></i></button>
	        </form><!--//search-form-->   
	    </div>                      
    </div><!--//contianer-->
</div><!--//search-courses-section-->
{{/hassearch}}